{
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.ts", "*.mts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
