/* stylelint-disable property-no-vendor-prefix */
@import 'font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 40, 49;
    --background-end-rgb: 34, 40, 49;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.MuiTableCell-root {
  padding: 12px;
}

.MuiTableCell-root.MuiTableCell-sizeSmall {
  padding: 6px 12px;
}

.MuiTableCell-root.MuiTableCell-paddingNone {
  padding: 0;
}
.MuiTableCell-root.MuiTableCell-paddingCheckbox {
  padding: 4px !important;
}
