/* stylelint-disable font-family-name-quotes */
/* stylelint-disable property-no-vendor-prefix */
@import 'font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'pretendard', 'Noto Sans KR', sans-serif;
  background: #023047;
  margin: 0;
  overflow-y: hidden;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #8ecae640;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.static-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.MuiTableCell-root {
  padding: 12px;
}

.MuiTableCell-root.MuiTableCell-sizeSmall {
  padding: 6px 12px;
}

.MuiTableCell-root.MuiTableCell-paddingNone {
  padding: 0;
}
.MuiTableCell-root.MuiTableCell-paddingCheckbox {
  padding: 4px !important;
}

.move-chip {
  height: 18px;
  padding: 0 6px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.move-chip:hover {
  color: white;
}

.move-chip-point {
  transition: none;
  cursor: pointer;
}

.move-chip-tooltip > .MuiTooltip-tooltip {
  margin: 0 !important;
}

.move-chip-tooltip .MuiButtonBase-root {
  padding: 0 !important;
  font-size: 12px;
}
